body{
    background-color: lightblue;
    font-family:sans-serif;
}

#loginBox{
text-align:center;
}
#usernameArea{
    text-align:center;
    margin-top:1rem;
    margin-bottom:0.5rem;
}
#passwordArea{
    text-align:center;
}

#userContent{
    
}

#submitButton{
    background-color:white;
    width:4rem;
    height:1.5rem;
    border-radius:1rem;
    margin:auto;
    margin-top:1rem;
    margin-bottom:2rem;
    user-select:none;
    cursor:pointer;
    padding-top: 0.3rem;
}
#submitButton:active{
    background-color:#42a4f4;
}