body{
    background-color:#8B4513;
    margin:0px;
    padding:0px;
    font-family:arial;
}

#CPS{
    padding-bottom:0.2rem;
}

#factoryInfo{
    margin: 1rem;
    text-align: center;
}
#cookiePanel{
    width: 256px;
    margin-left: 1rem;
}
#cookieDiv{
    cursor:hand;
    border-radius:180px;
}
#cookieDiv:active{
    content:url("invertedCookie.png");
}

#buyingPanel{
    position: absolute;
    top:0px;
    left:18rem;
    margin-top:1rem;
}
#buyHelper{
    user-select: none;
}
.buyButton{
    cursor:hand;
    border-radius:1rem;
    color:lightskyblue;
    background-color:black;
    padding:1rem;
}

.buyButton:active{
    background-color:lightgreen;
    color:black;
}